@CHARSET "UTF-8";
body {
	background-image:url("../img/uchuu.jpg");
	background-size: 100% 100%;
	color: white;
}

h1{
	text-align: center;
}

.nameposition{
	padding-left: 5px;
	border: 2px #FFF solid;
	background-color: rgba(00,00,80,0.7);
	margin: 10% 20% 10% 20%;
	position:absolution;
	text-align: center;
	border-radius: 50%;
}


.formp{
	margin-left: 45%;
	text-align:center;
}